body {
    margin: 0;
    padding: 40px;
}

.container {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; /* Adicionei padding para melhor visualização */
}


/* overflow ajusta o que passa na estilização*/
.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px; /* Importante: definir largura fixa para os cards */
    transition: transform 0.3s ease; /* Transição suave para o hover */
}

button {
    margin: 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer; /* Adiciona o cursor de mão */
    transition: background-color 0.3s; /* Efeito suave */
}

button:hover {
    background-color: darkviolet; /* Efeito hover no botão */
}

.card p {
    margin-left: 20px;
    padding-bottom: 15px; /* Melhor espaçamento */
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do card */
    height: auto;
    display: block; /* Remove espaçamento extra abaixo da imagem */
}